*{
    margin: 0px 89px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;

}
.main{
    padding: 0px;
    align-items: center;
    border-bottom: mediumaquamarine;
    text-align: center; 
    font-style: italic;
    font-size: 15px;
}
.button{
    width: 200px;
   margin: 0 auto;
   display: inline;
}
.counter-label{
    font-size: 10px;
    font-style: oblique;

}