* {
    margin: 0;
}
.header_left img {
    height: 40px;
}

.header {
    padding: 15px 20px;
    display:flex;
    justify-content:space-between;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    box-shadow: 0.5px 8px -9px rgba(0,0,0,0.75);

}
.header_left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header_input {
    display: flex;
    align-items: center;
    background-color:#eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}
.header_input input {
    border : none;
    background-color: transparent;
    outline-width: 0;
}
.header_middle {
    display:flex;
    flex:1;
    justify-content: center;
    
}
.row{
    text-indent: 30px;
    white-space: nowrap;
}
.row{
    padding: 5px;
    display: flex;
    width: 100%;
}

.nomargin{
    margin: 0px;
}
.h4{
    padding: 90px;
}
.row1{
    padding: 20px;
}
.image-container{
    padding:15px;
}